.form {
    /* max-width: 330px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
}

.app-title {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.form .input {
    margin-bottom: 25px;
}

.form .form__custom-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
